* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  padding-bottom: 10px;
}

/* MARGINS */
h1,
h2,
h3,
p {
  margin: 15px 25px 15px 25px;
}

ul, 
ol {
  margin-left: 45px;
}

img{
  margin-left: 25px;
}

/*POSITION */

h1.main,
h2.main {
  text-align: center;
}

div.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FONTS */

h1.main {
  font-family: 'Abril Fatface', cursive;
  font-size: 65px;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 45px;
}

h2 {
  font-family:'Times New Roman', Times, serif;
  font-size: 30px;
}

h3 {
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
} 

ul.main > li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}